<configuration>
	<statusListener
		class="ch.qos.logback.core.status.OnConsoleStatusListener" />

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS, IST} {%thread} %-5level %logger{36}.\(%M\)
				- %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE_INFO"
		class="ch.qos.logback.core.FileAppender">
		<file>${LOG_HOME}/info.log</file>
		<append>true</append>
		<immediateFlush>true</immediateFlush>

		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS, IST} {%thread} %-5level %logger{36}.\(%M\)
				- %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE_WARN"
		class="ch.qos.logback.core.FileAppender">
		<file>${LOG_HOME}/warn-error.log</file>
		<append>true</append>
		<immediateFlush>true</immediateFlush>

		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS, IST} {%thread} %-5level %logger{36}.\(%M\)
				- %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="ASYNC_FILE_INFO"
		class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="FILE_INFO" />
	</appender>

	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ASYNC_FILE_INFO" />
		<appender-ref ref="FILE_WARN" />
	</root>
</configuration>