<!DOCTYPE html>
<html>
	<head>
		<title>TopCoder Challenges</title>
	</head>
	<body>
		<h1>TopCoder Challenges</h1>
		#if( $challenges.size() > 0 )
			<ul>
			#foreach( $challenge in $challenges )
				<li><h2>$challenge.name</h2></li>
				$challenge.description
				<br/>
				<a href="$challenge.link" target="_blank">LINK</a>
			#end
		</ul>
		#else
			<p>No New Challenges today</p>
		#end
	</body>
</html>