<html>
	<head>
		<title>TopCoder Challenges</title>
	</head>
	<body>
		<h1>TopCoder Challenges</h1>
		<ul>
							<li><h1>Ognomy MVP Backend API Challenge</h1></li>
				<strong>CHALLENGE OBJECTIVES</strong>
<ul>
	<li>Build the backend API for the Ognomy MVP project.</li>
</ul>
 <br />
<strong>PROJECT BACKGROUND</strong>

<ul>
	<li>We are building an MVP of a mobile app that allows patients to schedule and participate in teleconsultations on their mobile device, and of a web app that allows doctors to view teleconsult schedules and participate in teleconsults from a desktop device.</li>
	<li>For the purpose of this challenge, we need to implement the backend that will support the MVP of this mobile app and web app.</li>
	<li>This MVP is the 1st...</li></ul><br /><div>Platforms: AWS</div><div>Technologies: MongoDB / Node.js / REST</div><div>Prize: 2100 (1400)</div><div>Registration Period: 2020-01-17 14:04 +00:00 - 2020-01-24 14:07 +00:00</div><div>Open for registration: No </div><div>Submissions Due: 2020-01-24 14:16 +00:00</div><div>Type: Code / develop</div>
				<br/>
				<a href="https://www.topcoder.com/challenge-details/30112930/?type=develop" target="_blank">LINK</a>
					</ul>
	</body>
</html>